@page "/"
@page "/index.html"

<Layout Class="layout">
    <Content>
        <div class="top">
            <Table Total="_total"
                   Bordered=true
                   Size=TableSize.Small
                   DataSource="logs"
                   @bind-PageIndex="_pageIndex"
                   @bind-PageSize="_pageSize"
                   OnPageIndexChange="async e => await fetchData(e)">
                <Column Title="类型" @bind-Field="@context.Type"></Column>
                <Column Title="描述" @bind-Field="@context.Description"></Column>
                <Column Title="请求时间" @bind-Field="@context.CreationTime"></Column>
            </Table>
        </div>
    </Content>
</Layout>

@code {
    private IReadOnlyList<HttpTrackerLogDto> logs;

    int _pageIndex = 1;
    int _pageSize = 20;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        logs = await GetHttpTrackers(_pageIndex, _pageSize);
    }

    async Task fetchData(PaginationEventArgs args)
    {
        logs = await GetHttpTrackers(args.PageIndex, args.PageSize);
    }

    private async Task<IReadOnlyList<HttpTrackerLogDto>> GetHttpTrackers(int page, int limit)
    {
        var response = await Http.GetFromJsonAsync<HttpTrackerResponse<PagedList<HttpTrackerLogDto>>>($"/api/httptracker.query?page={page}&limit={limit}");

        _total = response.Result.Total;

        return response.Result.Item;
    }
}