@page "/index.html"

<h1>Hello, world!</h1>

<a href="test">test</a>

Welcome to your new app.

<Line Data="data" Config="config" />

@code{
    object[] data = new object[] {
        new  { year= "1991", value= 3 },
        new  { year= "1992", value= 4 },
        new  { year= "1993", value= 3.5 },
        new  { year= "1994", value= 5 },
        new  { year= "1995", value= 4.9 },
        new  { year= "1996", value= 6 },
        new  { year= "1997", value= 7 },
        new  { year= "1998", value= 9 },
        new  { year= "1999", value= 13 },
    };

    LineConfig config = new LineConfig()
    {
        Title = new Title()
        {
            Visible = true,
            Text = "曲线折线图",
        },
        Description = new Description()
        {
            Visible = true,
            Text = "用平滑的曲线代替折线。",
        },
        Padding = "auto",
        ForceFit = true,
        XField = "year",
        YField = "value",
        Smooth = true,
    };
}